:root {
    --bs-primary: #00334C; /* Replace #yourNewColor with the hex code of the color you want */
    --bs-secondary: #56B2CB;
    --bs-third: #F7E214;
    --bs-fourth: #818387;
}

body{
    background-color: var(--bs-primary) !important;
    color: whitesmoke;  
    font-family: 'Raleway', sans-serif;
}

.border-text{
    color: whitesmoke;
    border: .5em ridge var(--bs-secondary);
    border-color: var(--bs-primary) !important;
    margin: 1em;
    padding: 1em;
}

.border-primary{
    border-color: var(--bs-third) !important;
}

.navbar-brand{
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
}

.card {
    background-color: var(--bs-secondary);
    border: none;
    border-radius: 10px;
}

.card-title {
    color: var(--bs-primary);
}

.card-text a {
    color: var(--bs-primary);
    font-weight: bold;
}

.card-text a:hover {
    color: var(--bs-fourth);
}

ul li a {
    color: var(--bs-third);
}

ul li a:hover {
    color: var(--bs-secondary);
}